@font-face {
  font-family: Songer-SE-Regular;
  src: url(~@/styles/fonts/songer/Songer-SE-Regular.otf);
}

@font-face {
  font-family: Songer-SE-Medium;
  src: url(~@/styles/fonts/songer/Songer-SE-Medium.otf);
}

@font-face {
  font-family: Songer-SE-Extrabold;
  src: url(~@/styles/fonts/songer/Songer-SE-Extrabold.otf);
}

@font-face {
  font-family: Songer-SE-Bold;
  src: url(~@/styles/fonts/songer/Songer-SE-Bold.otf);
}

@font-face {
  font-family: Montserrat-Light;
  src: url(~@/styles/fonts/montserrat/Montserrat-Light.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(~@/styles/fonts/montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(~@/styles/fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url(~@/styles/fonts/montserrat/Montserrat-SemiBold.ttf);
}

$body-font-family: Montserrat-Regular, Montserrat-SemiBold, sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');